<div class="ContainerDetail">
    <h1>Detalle completo de la ciudad {{information[0].name}}</h1>
    <div>
        <h3>País : </h3><p>{{information[0].country}}</p>
    </div>
    <div>
        <h3>Temperatura promedio : </h3><p>{{information[0].tempAve}}°</p>
    </div>
    <div>
        <h3>Temperatura máxima : </h3><p>{{information[0].tempAve}}°</p>
    </div>
    <div>
        <h3>Temperatura mínima : </h3><p>{{information[0].tempAve}}°</p>
    </div>
    <div>
        <h3>Viento : </h3><p>{{information[0].wind}} Km/h</p>
    </div> 
    <div>
        <h3>Zona Horaria : </h3><p>{{information[0].timezone}}</p>
    </div>
    <div>
        <h3>Visibilidad : </h3><p>{{information[0].visibility}}</p>
    </div>
    <div>
        <img src={{information[0].icon}}/>
    </div>
</div>
