<div class="Container" id={{city.name}}>
    <div class="Back"></div>
    <div class="ImageWeather"></div>
    <div class="Title">
        <a routerLink="/detail/{{city.name}}" ><h3>{{city.name}}</h3></a>
    </div>
    <div class="Img">
        <img src="{{city.icon}}">
    </div>
    <div class="ContainerRow">
        <div>
            <h4>Temperatura min</h4><p>{{city.tempMin}}°</p>
        </div>
        <div>
            <h4>Temperatura max</h4><p>{{city.tempMax}}°</p>
        </div>
        <div>
            <h4>Clima</h4><p>{{city.weather}}</p>
        </div>
    </div>
    <button (click)="deleteCity()"><i class="fas fa-trash-alt"></i></button>
</div>