div{
    width: 300px;
    height: 80px;
    display: flex;
}

form{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input.InputSearch{
    height: 25px;
    background: none;
    border: 2px black solid;
    padding-left: 5px;
}

input.InputSubmit{
    height: 25px;
    background: none;
    border: 1px black solid;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
}

input.InputSubmit:hover{
    background: black;
    color: white;
    transition: 0.3s;
}