div{
    width: 300px;
    height: 80px;
    margin-left: 10px;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input.InputSearch{
    height: 25px;
    background: none;
    border: 2px black solid;
    padding-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button.InputSubmit{
    height: 30px;
    background: none;
    border: 1px black solid;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button.InputSubmit:hover{
    background: black;
    color: white;
    transition: 0.3s;
}

button.InputSubmit:disabled{
    opacity: 0.5;
    height: 30px;
    background: none;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    border-radius: 5px;
    transition: 0.5s;
}

button.InputSubmit:disabled:hover{
    color: rgba(1, 1, 1, 0.3);
    cursor:auto;
}
